* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
    color: #000000;
    font-family: Montserrat, Arial, sans-serif;
}

.box {
    background-color: #1DA1F2;

    padding: 24px 24px;
    border-radius: 5px;
}

#chart {
    margin: 6% 6% 6% 6%;
    opacity: 0.9;
}